<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Whatup son.  Dis page is for helping you son.</p>

    {{> footer}}
  </body>
</html>
